body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
li {
    margin-left:25px;
}
ul {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: -30px;
    font-size: 1.1em;
}

.table {
    width:1200px;
}
   tr {
        height:5em;
        
    }
tr td, tr th{
    text-align: center;
}
.dl-horizontal div {
    margin: 2em 0;
    
}
h4 {
    margin-top:2em;
    text-align:center;
    border-bottom:double red;
    font-size:2em;
}
.Spot div, .Ticket div {
    margin-left: 35%;
}
h2 {
    text-align:center;
}
footer {
    text-align:center;
    color:white;
}
    footer p {
    text-align:center;
        margin-top:1.5em;
    }
    body{
  
        font-size:1.5em;
    }
