@model SAH.Models.EmployeeApplicantDto

@{
    ViewBag.Title = "View";
}

<h2>Internal Education Portal</h2>

<h3>Are you sure you want to delete this Employee Application?</h3>
<div>
    <h4>Delete Employee Application</h4>
    <hr />
    <dl class="dl-horizontal">
 

    </dl>

    @using (Html.BeginForm("Delete", "EmployeeApplicant", new { Id = Model.CourseId }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
